.home{
    margin-left: 200px;
    padding: .4em;
}

.home .fa-bars{
    font-size: 2em;
    transform: translateY(4px);
    margin-left: .5em;
    color: rgb(179, 176, 176);
    position: absolute;
    display: none;
}

.dashboard{
    max-width: 1440px;
    margin: auto auto;
}

@keyframes fade-in {
    from {
      opacity: 0;
    }
    to {
      opacity: 100;
    }
}

.dashboard .content{
    margin-left: 200px;
    padding: 1em;
    animation: fade-in .5s;
}

.home .header{
    justify-content: flex-end;
    border-bottom: 1px solid rgb(237, 234, 234);
    margin-right: 1em;
    padding-bottom: .3em;
}

.home .header i{
    font-size: 1.2em;
}

.home .header img{
    width: 40px;
    height: 40px;
    background-color: rgba(85, 175, 110, 1);
    border-radius: 50%;
    padding: .2em;
    margin-left: 1em !important;
}

.home .header img:hover{
    cursor: pointer;
}

.home .header .my_listing{
    background-color: rgba(85, 175, 110, 1);
    margin-right: 1em;
    border-radius: 10px;
    transition: .2s;
    border: none;
}

.home .header .my_listing:hover{
    background-color: green;
    transition: .2s;
}