.sidebar{
    background-color: white;
    /* padding: 1em; */
    height: 100vh;
    width: 200px;
    min-width: 150px;
    transition: .2s;
    position: fixed;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.057);
    overflow: scroll;
}

.sidebar::-webkit-scrollbar{
    display: none;
}

.sidebar .navbar-expand-sm .navbar-nav{
    display: block !important;
}

.sidebar nav a{
    margin: 0 !important;
    padding: .7em 1em .7em 1em !important;
    color: grey !important;
    transition: .2s;
    margin-bottom: .5em !important;
    font-size: 14px !important;
}

/* .sidebar nav .active{
    color: rgba(85, 175, 110, 1);
} */

.sidebar nav a:hover{
    background-color: rgba(85, 175, 110, 0.265);
    transition: .2s;
    /* color: white !important; */
}

.sidebar .active{
    color: white !important ;
    background: rgba(85, 175, 110, 1) !important;
}

.sidebar .img img{
    width: 70px;
}

.sidebar .img {
    border-bottom: 1px solid rgba(217, 215, 215, 0.642);
}

.sidebar .img a{
    text-decoration: none;
    color: rgba(85, 175, 110, 1) !important;
}

.sidebar .bottom-link {
    border-top: 1px solid rgba(217, 215, 215, 0.642);
}
 
.sidebar i{
    margin-right: .3em;
}

.offcanvas{
    z-index: 1000000000000000;
}


@media screen and (max-width: 980px){ 
       
    .sidebar{
        width: 0px;
        min-width: 0px;
    }

    .home .fa-bars{
        display: inline !important;
    }
    
    .dashboard .content{
        margin-left: 0px !important;
    }

    .home{
        margin-left: 0px !important;
    }

    .chat_bot .inputs,.msg-container .wrap1 .msgBodys, .msg-container .sentMsg .myMsg,.dashboard .con{
        position: relative !important;
    }

    .chat_bot .inputs,.msg-container .wrap1 .msgBodys, .msg-container .sentMsg .myMsg{
        z-index: 1 !important;
    }

    .home .fa-bars{
        z-index: 1 !important;
    }
    
    .chat_bot .msg-container{
        height: 70vh !important;
    }

    .overview .sec1{
        width: 100% !important;
    }

    .dashboard .pagination{
        margin-left: 0px !important;
        width: 100% !important;
        z-index: 1;
    }

    
    .dashboard .pagination a {
        padding: .6em 1em !important;
        margin-right: .8em !important;
        border-radius: 3px;
    }
}

@media screen and (max-width: 750px){    
    .weather .weather_content .section{
        width: 100% !important;
    }
    
    .chat_history{
        display: none !important;
    }

    .chat_bot .msg-container {
        width: 100% !important;
    }

    .msg-container .wrap1{
        margin-right: 0 !important;
    }

    .msg-container .wrap2{
        margin-left: 0 !important;
    }

    .chat_bot .inputs{
        width: 100% !important;
        transform: translateY(0px) !important;
        position: relative !important;
        padding: 0 0 !important;
        z-index: -1;
    }

    .chat_bot .inputs textarea {
        width: 100% !important;
        margin-right: .5em !important;
    }

    .chat_bot button{
        border-radius: 10px !important;
        width: fit-content !important;
        text-overflow:ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    .settings .setting_container .d-flex{
        flex-wrap: wrap !important;
    }

    .settings .img{
        z-index: 1;
        position: relative !important;
        transform: translateY(0px) !important;
    }

    .settings .form{
        width: 100% !important;
        margin-top: 8em;
    }

    .settings form input{
        width: 100% !important;
    }

    .produce_listing .produce{
        width: 100% !important;
        margin-right: 0 !important;
    }

    .market .chart{
        width: 100% !important;
    }

    .article .sing_article {
        width: 300px !important;
        height: fit-content;
    }

    .article .sing_article img{
        /* width: 60% !important;
        height: 100px; */
    }
}