.weather{

}

.weather .weather_content{
    flex-wrap: wrap;
    height: 82vh;
    overflow: scroll;
    padding-top: 1em;
}

.weather .weather_content::-webkit-scrollbar{
    display: none;
}

.weather .weather_content .section{
    padding: 1em;
    width: 45%;
    height: 400px;
    box-shadow: .1em .1em 1em rgba(0, 0, 0, 0.1);
    margin-left: 1em;
    margin-bottom: 2em;
}


.weather .weather_content .section .degree{
    justify-content: space-evenly;
    text-align: center;
    margin-top: 3em;
}

.weather .weather_content .section .name {
    font-size: 1em;
    color: rgb(165, 165, 165);
}

.weather .weather_content .section .temp{
    font-size: 1em;
    color: rgb(165, 165, 165);
}

.weather .weather_content .section .num i {
    font-size: .3em !important;
    transform: translateY(-20px);
}

.weather .weather_content .section .num{
    color: rgba(85, 175, 110, 1);
    font-size: 2em;
}

.weather .weather_content .section .icons{
    justify-content: space-evenly;
    /* margin-top: 2.5em; */
}

.weather .weather_content .section .icons p,.weather .weather_content .section .time{
    font-size: .7em;
}

.weather .weather_content .section .icons i {
    color: rgba(85, 175, 110, 1);
}

.weather .weather_content .section .pest h4 {
    color: rgba(85, 175, 110, 1);
    font-size: 1em;
}

.weather .weather_content .section .icons .num{
    font-size: .9em !important;
}

.weather .weather_content .section .pest  img{
    margin-top: 1em;
}

.weather .weather_content .section .pest .d-flex{
    justify-content: space-evenly;
    /* margin-top: 2em; */
}

.weather .weather_content .section .bar{
    object-fit:cover ;
}

.weather .weather_content .section canvas{
    height: 300px !important;
}

.weather .pests .pest{
    color: red !important;
    border-bottom: 2px solid red;
}

.weather .pest-container{
    overflow: scroll;
    z-index: 1;
}

.pest .back{
    color: rgba(85, 175, 110, 1) !important;
}

.pest .back:hover{
    cursor: pointer;;
}

.pest{
    position: relative;
}

.weather .pests .pest:hover{
    cursor: pointer;
}

.weather .pest .pest-img{
    width: 100% ;
    height: 170px;
    object-fit: cover;
}

.weather .pest .names{
    position: absolute;
    background-color: rgba(0, 0, 0, 0.333);
    z-index: 1000;
    top: 0;
    height: 170px;
    width: 100%;
    color: white;
}

.weather .pest .names div{
    /* position: absolute; */
    bottom: 0;
}

.weather .affected{
    justify-content: start !important;
}

.weather .affected p{
    margin-left: .5em;
    font-size: .8em;
    color: rgb(231, 230, 230);
}

.weather .affected h6{
    color: rgb(231, 230, 230);
}

.weather .loc{
    margin-left: 1em;
    transform: translateY(-10px);
    color: rgb(165, 164, 164);
    font-size: .9em;
}

.weather .temp .num{
    color: rgba(85, 175, 110, 1);
    font-size: 1.5em !important;
}

.weather .temp .num i {
    transform: translateY(-10px) !important;
}
